{% extends 'layout/base.html'%}

{% block title %} Examen Parcial Computación en la nube{% endblock %}

{% block content %} 
  <div class="container">
    <div class="row">
      <div class="col fs-2">Nombre:</div>
      <div class="col fs-2">Oscar Alcides Choquehuallpa Hurtado</div>
    </div>
    <div class="row">
      <div class="col fs-2">Codigo:</div>
      <div class="col fs-2">161139</div>
    </div>
  </div>
  <h2>MODELO DE CLASES ARCHITECT</h1>
  <img src="{{url_for('static',filename='img/architect.jpeg')}}" alt="imagen de diseño de clases" class="img-fluid img-thumbnail"/>
  <h2>DIAGRAMA LOGICO MySQL</h1>
  <img src="{{url_for('static',filename='img/bd_model.png')}}" alt="imagen de diagrama logico" class="img-fluid img-thumbnail"/>
{% endblock %}
